*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("Images/clearNight.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.yellow-text{color: yellow;}
.white-text{color: white;}
.uppercase-text{text-transform: uppercase;}
.padding-10{padding: 10px 20px;}
.flex-box{display: flex;}
.family-montserrat{font-family: "Montserrat";}
.back-glass{box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;background: rgba(225,225,225,0.2);border-radius: 10px;}
.icon-size{height: 50px;width: 50px;color: white;}
.box-shadow{box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}


/* 404 page */
.errorPageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.errorPage{
    height: 400px;
    width: 900px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 120px;
}

.errorPage .leftContainer h1{
    font-size: 6rem;
}
.errorPage .leftContainer h2{
    font-size: 3rem;
    margin-top: 20px;
}
.errorPage .leftContainer a button{
    margin-top: 20px;
    height: 50px;
    width: 100px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.errorPage .leftContainer a button:hover{
    background-color: rgb(73, 73, 1);
    color: white;
}

.errorPage .rightContainer{
    flex: 0.8;
    padding: 20px;
} 

.errorPage .leftContainer{
    flex: 1.2;
    padding: 50px;
}
.errorPage .rightContainer img{
    height: 360px;
    width: 400px;
    border-radius:8px;
}




.container{
    width: 800px;
    margin: auto;
    margin-top: 40px;
    height: 650px;
    padding: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
    border-radius: 10px;
    background-color:rgb(0,0,0,0.5);
    flex-direction: column;
    gap: 10px;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    height: 70px;
}

.logo{
    font-size: 30px;
    font-family: "Matemasie", system-ui;
    color: rgb(46, 250, 46);
    align-items: center;
}
.four{
    font-size: 50px;
    color: orangered;
    margin: 0px 5px;
    margin-bottom: 10px;
}


.navbar .searchBar input{
    height: 30px;
    width: 250px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
}
.navbar .searchBar button{
    width: 100px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: rgb(46, 250, 46);
    font-weight: 600;
    font-size: 20px;
}

.navbar .searchBar button:hover{
    background: rgb(4, 144, 4);
}

.tempBoxNav{
    justify-content: space-between;
    align-items: baseline;
}

.mainTempBox{
    text-align: center;
    height: 160px;
    align-items: center;
    padding:10px 30px;
}

.mainTempBox .leftMainTempBox{
    flex: 1;
}
.mainTempBox .leftMainTempBox .mainTemp{
    font-size: 6rem;
    font-weight: 600;
    margin-left: 40px;
}


.mainTempBox .rigthMainTempBox{
    justify-content: center;
    padding-left: 150px;
    flex: 1;
}

.mainTempBox .rigthMainTempBox img{
    height: 130px;
    width: 130px;
}

.weatherDes{
    font-size: 30px;
    margin-left: 30px;
}

.weatherDescriptions{
    flex-direction: column;
    gap: 15px;  
}


.weatherDescriptions .row{
    justify-content: space-around;
    align-items: center;
}

.weatherDescriptions .row .card{
    height: 120px;
    width: 130px;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat";
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.weatherDailyForecast{
    height: 150px;
    padding:5px 15px;
}

.weatherDailyForecastItem{
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding:5px 15px;
}


.weatherDailyForecastItemContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.weatherDailyForecastItemContainer p{
    font-weight: 600;
    font-size: 13px;
}

footer{
    width: fit-content;
    margin: auto;
    margin-top: 10px;  
    padding-bottom: 10px; 
}

footer a{
    font-size: 17px;
    color:rgb(207, 207, 207);
    text-decoration: none;
    font-family: "Poppins";
}
footer a:hover{
    color: antiquewhite;
}

/* Responsive design */

@media screen and (max-width:1000px){

    .errorPage{
        width: 700px;
        height: 300px;
    }
    .errorPage .leftContainer h1{
        font-size: 4rem;
    }
    .errorPage .leftContainer h2{
        font-size: 2rem;
    }
    .errorPage  .rightContainer img{
        height: 260px;
        width: 300px;
    }
    .errorPage .leftContainer a button{
        height: 30px;
        width:100px;
    }

     .container{
        width: 600px;
        height: fit-content;
        padding-bottom: 15px;
     }
     .navbar .logo{
        font-size: 20px;
     }
     .navbar .logo .four{
        font-size: 30px;
     }
     .navbar .searchBar input{
        height: 15px;
        width: 140px;
        font-size: 13px;
     }
     .navbar .searchBar button{
        width: 70px;
        font-size: 13px;
     }
     .tempBoxNav h2{
        font-size: 20px;
     }
    .mainTempBox{
        height: 130px;
    }

    .mainTempBox section .leftMainTempBox .mainTemp{
        font-size: 5rem;
        margin-left: 20px;
    }
    .mainTempBox section .rigthMainTempBox img{
        height: 100px;
        width: 100px;
    }
    .mainTempBox .weatherDes{
        font-size: 20px;
    }

    .weatherDescriptions .row .card{
        height: 90px;
        width: 90px;
    }
    .weatherDescriptions .row .card img{
        height: 30px;
        width: 30px;
    }

    .weatherDescriptions .row .card h3{
        font-size: 15px;
    }
    .weatherDescriptions .row .card span{
        font-size: 13px;
    }

    .weatherDailyForecast{
        height: fit-content;
    }
    .weatherDailyForecast h1{
        font-size: 20px;
    }
}


@media screen and (max-width:775px){

    .errorPage{
        width: 500px;
    }

    .errorPage .leftContainer h1{
        font-size: 3rem;
    }
    .errorPage .leftContainer{
        padding: 15px;
        padding-top: 50px;
    }
    .errorPage .leftContainer h2{
        margin-top: 10px;
    }
    .errorPage .leftContainer a button{
        font-size: 15px;
    }

    .errorPage .rightContainer img{
        width: 200px;
    }

    body{
        background-size:100% 100%;
        padding-bottom: 40px;
    }
    .container{
        width: 400px;
    }
    .navbar .logo{
        font-size: 16px;
    }
    .navbar .logo .four{
        font-size: 25px;
    }
    .navbar .searchBar input{
        height: 12px;
        width: 125px;
        font-size: 12px;
    }
    .navbar .searchBar button{
        width: 50px;
    }

    .tempBoxNav h2{
        font-size: 15px;
    }
    .mainTempBox{
        height: fit-content;
    }

    .mainTempBox section .leftMainTempBox .mainTemp{
        font-size: 3rem;
        margin-left: 0px;
    }
    .mainTempBox section .rigthMainTempBox img{
        height: 70px;
        width:70px;
    }
    .mainTempBox .weatherDes{
        font-size: 15px;
        margin-top: 10px;
    }

    .weatherDescriptions .row .card{
        height: 70px;
        width: 70px;
        padding: 0px;
    }

    .weatherDescriptions .row .card img{
        height: 20px;
        width:20px;
    }
    .weatherDescriptions .row .card h3{
        font-size: 10px;
    }
    .weatherDescriptions .row .card span{
        font-size: 10px;
    }
    
    .weatherDailyForecast h1{
        font-size: 17px;
    }
    .weatherDailyForecast .weatherDailyForecastItem{
        flex-direction: column;
        gap: 0px;
    } 
    .weatherDailyForecast .weatherDailyForecastItem .weatherDailyForecastItemContainer{
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        flex-direction: row;
        margin: 0px;
    }
    .weatherDailyForecast .weatherDailyForecastItem .weatherDailyForecastItemContainer img{
        height: 50px;
        width: 50px;
    }
}


@media screen and (max-width:525px) {
    .errorPage{
        width: 400px;
    }
    .errorPage .rightContainer img{
        width: 150px;
    }
}

@media screen and (max-width:440px) {
    .errorPageContainer{
        padding-top: 30px;
    }
    .errorPage{
        flex-direction: column-reverse;
        height: fit-content;
        width: fit-content;
    }
    .errorPage .rightContainer img{
        width: 300px;
    }
    .errorPage .rightContainer{
        padding-bottom: 10px;
    }
    .errorPage .leftContainer{
        padding-top: 0px;
    }

    body{
        background-size: 500px 1000px;
    }
    .container{
        background: none;
        border: none;
        box-shadow: none;
    }
    .back-glass , .navBack{box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
    .navbar{
        height: 50px;
        padding: 0px 20px 0px 20px;
    }
}